<%= link_to "Newrelic Ruby Kata", root_path, :class => 'brand' %>
<div class="nav-collapse">
	<ul class="nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Kata Pages <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><%= link_to "The Loop", loop_path %></li>
				<li><%= link_to "The Big List", big_list_path %></li>
				<li><%= link_to "The Tweets", tweets_path %></li>
				<li><%= link_to "The Cache", caching_path %></li>
				<li><%= link_to "The Async", async_path %></li>
				<li><%= link_to "The Many Assets", many_assets_path %></li>
				<li><%= link_to "The Error", errors_path %></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">About <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="http://heroku.com">Heroku</a></li>
				<li><a href="http://newrelic.com">New Relic</a></li>
			</ul>
		</li>
	</ul>
</div>
